i.d12mb-nutshell {
	background-image: url(../icons/acorn.png);
	margin: 2px 6px 0 0;
}
i.d12mb-update {
	background-image: url(../icons/update.png);
	margin: 2px 6px 0 0;
}
i.d12mb-attach {
	background-image: url(../icons/attach.png);
	margin: 2px 6px 0 0;
}
i.d12mb-delete {
	background-image: url(../icons/delete.png);
	margin: 2px 6px 0 0;
}
i.d12mb-part {
	background-image: url(../icons/cog.png);
	margin: 2px 6px 0 0;
}
i.d12mb-mentions {
	background-image: url(../icons/mentions.png);
	margin: 2px 6px 0 0;
}
i.d12mb-warning {
	background-image: url(../icons/warning.png);
	margin: 2px 6px 0 0;
}
i.d12mb-important {
	background-image: url(../icons/important.png);
	margin: 2px 6px 0 0;
}
i.d12mb-notice {
	background-image: url(../icons/notice.png);
	margin: 2px 6px 0 0;
}
i.d12mb-error {
	background-image: url(../icons/error.png);
	margin: 2px 6px 0 0;
}
i.d12mb-caution {
	background-image: url(../icons/caution.png);
	margin: 2px 6px 0 0;
}
i.d12mb-archive {
	background-image: url(../icons/archive.png);
	margin: 2px 6px 0 0;
}
i.d12mb-support {
	background-image: url(../icons/support.png);
	margin: 2px 6px 0 0;
}
i.d12mb-contact {
	background-image: url(../icons/contact.png);
	margin: 2px 6px 0 0;
}
i.d12mb-global {
	background-image: url(../icons/global.png);
	margin: 2px 6px 0 0;
}
i.d12mb-green {
	background-image: url(../icons/green.png);
	margin: 2px 6px 0 0;
}
i.d12mb-accept {
	background-image: url(../icons/okay.png);
	margin: 2px 6px 0 0;
}
i.d12mb-stats {
	background-image: url(../icons/statistics.png);
	margin: 2px 6px 0 0;
}
